.create h1 {
  padding: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

.create button {
  background: #164175;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}