.recommendation-image {
  margin-left: 5px;
  /* width: 200px; */
  height: 200px;
  width: auto;
  border-radius: 5px;
  
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-form {
  background: linear-gradient(to right, #82bac4, #e1e9eb);
}

.img-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.parrafo {
  font-size: 18px;
  /* font-weight: bold; */
  /* text-align: center; */
}