.recommendation-image {
  margin-left: 5px;
  width: 100%;
  height: auto;
  /* width: auto; */
  border-radius: 5px;
}

@media (min-width: 992px) { /* Aplica estos estilos solo en pantallas lg o más grandes */
  .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
