.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 30px !important;
}

.navbar-nav {
  margin-left: auto;
  text-align: center;
}

