* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  font-size: 18px;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Infant', serif;
}

p {
  font-family: 'Cormorant Infant', serif;
} */

.icon-with-shadow {
  background-color: #333; /* Ajusta al color de fondo deseado */
  border-radius: 50%;
  padding: 10px; /* Ajusta según el tamaño del icono */
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.icon-with-shadow:hover {
  color: #adcbf0; /* Cambia el color del icono en hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aplica sombra circular */
}
